<div class="container mt-4">
  <h2>Log in</h2>

  <%= form_with(url: sessions_path) do |f| %>
    <div class="field my-1">
      <%= f.label :username %><br />
      <%= f.text_field :username, { autofocus: true, autocomplete: "username", class: 'form-control' } %>
    </div>

    <div class="field my-1">
      <%= f.label :password %><br />
      <%= f.password_field :password, { autocomplete: "current-password", class: 'form-control' } %>
    </div>

    <div class="actions my-1">
      <%= f.submit "Log in", class: 'btn btn-primary' %>
      <%= link_to 'Register', new_user_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
